@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Delete MegaDesk Quotes";

    var quoteID = "";
    var customerName = "";
    var quoteDate = "";
    var quoteAmount = "";
    var rushOrderDays = "";
    var deskWidth = "";
    var deskDepth = "";
    var drawerCount = "";
    var surfaceMaterial = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            quoteID = Request.QueryString["ID"];
            var db = Database.Open("MegaDeskQuotes");
            var dbCommand = "SELECT * FROM DeskQuote WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, quoteID);

            if (row != null)
            {
                customerName = row.CustomerName;
                quoteAmount = row.QuoteAmount.ToString();
                quoteDate = row.QuoteDate.ToString();
                rushOrderDays = row.RushOrderDays.ToString();
                deskWidth = row.Width.ToString();
                deskDepth = row.Depth.ToString();
                drawerCount = row.DrawerCount.ToString();
                surfaceMaterial = row.SurfaceMaterial;
            }
            else
            {
                Validation.AddFormError("No quote was found for that ID.");
            }

        }
        else
        {
            Validation.AddFormError("No quote was selected.");
        }
    }
}

<h1>Delete Quote</h1>
<p><a href="~/index">Return to MegaDesk Quote Listing</a></p>
<form method="post">
    <fieldset>
        <p>
            <label for="customerName">Customer Name</label>
            <input type="text" name="customerName" value="@customerName" readonly />
        </p>
        <p>
            <label for="quoteDate">Quote Date</label>
            <input type="text" name="quoteDate" value="@quoteDate" readonly />
        </p>
        <p>
            <label for="quoteAmount">Quote Amount</label>
            <input type="text" name="quoteAmount" value="@string.Format("{0:C}", System.Convert.ToDecimal(quoteAmount))" readonly />
        </p>
        <p>
            <label for="rushDays">Rush Order Days</label>
            <input type="text" name="rushDays" value="@rushOrderDays" readonly />
        </p>
        <p>
            <label for="deskWidth">Desk Width</label>
            <input type="text" name="deskWidth" value="@deskWidth" readonly />
        </p>
        <p>
            <label for="deskDepth">Desk Depth</label>
            <input type="text" name="deskDepth" value="@deskDepth" readonly />
        </p>
        <p>
            <label for="drawers">Number of Drawers</label>
            <input type="text" name="drawers" value="@drawerCount" readonly />
        </p>
        <p>
            <label for="surfaceMaterial">Surface Material</label>
            <input type="text" name="surfaceMaterial" value="@surfaceMaterial" readonly />
        </p>
        <input type="hidden" name="quoteID" value="@quoteID" />
        <p><input type="submit" name="buttonDelete" value="Delete Quote" /></p>
    </fieldset>
</form>
